 <div class="m-app-loading" ng-animate-children >
        <style type="text/css">
            div.m-app-loading {
                position: fixed ;
            }
            div.m-app-loading div.animated-container {
                background-color: #333333 ;
                bottom: 0px ;
                left: 0px ;
                opacity: 1.0 ;
                position: fixed ;
                right: 0px ;
                top: 0px ;
                z-index: 999999 ;
            }
     
            div.m-app-loading div.animated-container.ng-leave {
                opacity: 1.0 ;
                transition: all linear 200ms ;
                    -webkit-transition: all linear 200ms ;
            }
   
            div.m-app-loading div.animated-container.ng-leave-active {
                opacity: 0 ;
            }
            div.m-app-loading div.messaging {
                color: #FFFFFF ;
                font-family: monospace ;
                left: 0px ;
                margin-top: -37px ;
                position: absolute ;
                right: 0px ;
                text-align: center ;
                top: 50% ;
            }
            div.m-app-loading h1 {
                font-size: 26px ;
                line-height: 35px ;
                margin: 0px 0px 20px 0px ;
            }
            div.m-app-loading p {
                font-size: 18px ;
                line-height: 14px ;
                margin: 0px 0px 0px 0px ;
            }
        </style>
        <div class="animated-container">

            <div class="messaging">

                <h1>
                    Pantalla Cargando
                </h1>

                <p>
                    Cargando Pantalla!
                </p>

            </div>

        </div>
        <!-- Finalizar Container Actual. -->

    </div>
    <!-- Pantalla Cargando. -->
<div class="hbox hbox-auto-xs hbox-auto-sm" >
   
    
    

  <!-- .col -->
  <div  class="col w-lg bg-light dk b-r bg-auto" id="aside">
       <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
      <div class="wrapper bg b-b" ng-repeat="partido in partidos">
        <button ng-click="show_timeline({{partido.id}})" class="btn btn-info btn-addon btn-partidos">
          <div class="col w-lg2 separador_partido">
            <span class="gol_local">{{partido.resultados.goles_local}}</span>
            <i class="fa fa-soccer-ball-o juego_balon"   ng-hide=""></i>
            <span class="gol_visitante">{{partido.resultados.goles_visitante}}</span>          
          </div>
          <div ng-repeat=" equipo in partido.equipos" class="col w-lg5 nombre_equipos_minuto ">               
             <h5 class="m-n font-thin nombre_equipo">{{equipo.nombre_equipo}} </h5> <img class="logos_miniatura" src="http://localhost:8000/logos/{{equipo.path}}">
          </div> 
          
        </button>

    </div>
    
  </div>
  <!-- /.col -->
  <!-- .col -->
  <div class="col">
      <div class="wrapper" ng-show="formVisibility">
      <ul class="timeline-center">
         
        
        <div ng-repeat="comentario in comentarios | orderBy:'minuto':true" >
            <div ng-bind-html="trustAsHtml(vistaComentario(comentario))"> </div>
        </div>
          

        <li class="tl-header">
            {{texto}}
          <div class="btn btn-info">Inicio de Patido</div>
        </li>
       
       
      </ul>
    </div>
  </div>

  <!-- /.col -->   
  
</div>